@model IEnumerable<Massage.Models.TimeSlot>

<div class="container">
    <h1>Выберите удобное время для посещения салона:</h1>
    @foreach (var slot in Model)
    {
        <a href="/booking/create?id=@slot.Id" class="btn btn-primary mt-2">
            @slot.StartDateTime.ToString("dd/MM/yyyy HH:mm") -
            @(slot.StartDateTime + slot.Duration).ToString("HH:mm")
        </a>
    }
</div>